{% extends "template.html" %}

{% block title %}
  UWEFlix
{% endblock %}

{% block content %}
<div>
  <h1> UWEFlix Booking </h1>
  <form method="post" class="booking-form">
      {% csrf_token %}
      {% for field in form %}
        {% if field.name|slice:":6" == "ticket" %}    
          <div class="ticket-row"> 
            <p> {{ field.label }} Ticket </p>
            {{ field }}
          </div>
        {% else %} 
            {{ field.label }}: {{ field }}
            <br />
        {% endif %}
      {% endfor %}
      <div class="checkout"> 
        <input type="submit" value="Book Tickets">
        <div id="total_cost">Total: £0.00</div>
      </div>
  </form> 
</div>

<script>
document.querySelectorAll('[data-price]').forEach(function(el) {
    el.addEventListener('change', function() {
        var total_cost = 0;
        document.querySelectorAll('[data-price]').forEach(function(el) {
            // Get the ticket price and quantity
            var ticket_price = parseFloat(el.getAttribute('data-price'));
            var ticket_quantity = parseInt(el.value);
            // Add the cost of this ticket to the total cost
            total_cost += ticket_price * ticket_quantity;
        });
        // Update the total cost element with the new total
        document.querySelector('#total_cost').textContent = 'Total cost: £' + total_cost.toFixed(2);
    });
});
</script>

{% endblock %}